@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  background: #f4efec;
}

/* --------------------------
:: Header Area CSS
-------------------------- */

.menu {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #003770, #195591, #27639f);
  padding-top: 100px;
}

.menu .logo {
  position: absolute;
  width: 300px;
  top: 25px;
  left: 130px;
  z-index: 1000;
}

nav {
  height: 10vh;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  list-style: none;
  padding: 0 250px;
  position: relative;
  z-index: 100;
}

.nav-links li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 50px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0 4px;
}

.nav-links li:hover {
  font-weight: 700;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-links li:nth-child(1) {
  background: #f84828;
}

.nav-links li:nth-child(2) {
  background: #f9800d;
}

.nav-links li:nth-child(3) {
  background: #ffbf00;
}

.nav-links li:nth-child(4) {
  background: #9cca00;
}

.nav-links li:nth-child(5) {
  background: #008ad1;
}

.nav-links li:nth-child(6) {
  background: #740098;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

.menu .parallax-container {
  padding-top: 10vh;
  height: 100%;
  overflow: hidden;
  backface-visibility: fixed;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.menu .parallax-container img {
  width: 100%;
  height: 100%;
}

.slider {
  margin: 0 auto;
  width: 1000px;
  z-index: 100;
}

.slider-container {
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.carousel-item img {
  border-radius: 20px;
  border: solid 5px #fff;
  width: 100%;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .line {
    height: 3px;
    background: #fff;
    margin: 3px;
    border-radius: 3px;
  }

  .hamburger .line:nth-child(1) {
    width: 30px;
  }

  .hamburger .line:nth-child(2) {
    width: 20px;
  }

  .hamburger .line:nth-child(3) {
    width: 10px;
  }

  nav {
    position: relative;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  .nav-links {
    padding: 0;
    background: transparent;
    background: linear-gradient(to bottom, #003770, #195591, #27639f);
    width: 100%;
    height: 100vh;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 1;
    top: 0;
  }

  .nav-links.open {
    clip-path: circle(1100px at 90% -10%);
    -webkit-clip-path: circle(1100px at 90% -10%);
    pointer-events: all;
  }

  .nav-links li {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .menu .parallax-container img {
    width: 200%;
  }

  .slider {
    padding: 0;
    width: 100%;
  }

  .slider-container {
    margin-top: 25%;
    padding: 0 10px;
  }

  .menu {
    padding: 5% 0;
  }

  .menu .logo {
    top: 50px;
    left: 30px;
  }
}

@media screen and (max-width: 380px) {
  .menu .logo {
    top: 30px;
    left: 20px;
    width: 200px;
  }

  .menu .parallax-container img {
    width: 300%;
  }

  .slider-container {
    margin-top: 50%;
  }

  .carousel-item img {
    height: 100%;
  }
}

/* --------------------------
:: Cards Area CSS Start
-------------------------- */

.jardim {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  top: -100px;
  left: 0;
  z-index: 0;
}

.cards-area {
  padding: 150px 50px 30px 50px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 40px;
  position: relative;
  z-index: 0;
  background: #acd031;
}

.section-heading h2 {
  color: #fff;
  font-weight: 900;
  font-size: 30px;
  margin-bottom: 30px;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.2);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform-style: preserve-3d;
  margin: 0 auto;
}

.card-container .card {
  position: relative;
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  overflow: hidden;
  transform-style: preserve-3d;
  padding: 0 10px;
}

.card-container .card .imgBx {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-container .card:nth-child(1),
.card-container .card:nth-child(1) .overlay {
  background: linear-gradient(45deg, #f0d100, #f0d100);
}

.card-container .card:nth-child(2),
.card-container .card:nth-child(2) .overlay {
  background: linear-gradient(45deg, #f9800d, #f9800d);
}

.card-container .card:nth-child(3),
.card-container .card:nth-child(3) .overlay {
  background: linear-gradient(45deg, #008ad1, #008ad1);
}

.card-container .card:nth-child(4),
.card-container .card:nth-child(4) .overlay {
  background: linear-gradient(45deg, #892aa7, #892aa7);
}

.card-container .card h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 50px;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.1);
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px 0;
}

.card-container .card img {
  width: 110px;
  height: 70px;
}

.card-container .card p {
  font-size: 16px;
  color: #fff;
  margin: 20px 0;
  padding: 0 10px;
  height: 300px;
}

.card-container .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.08);
  z-index: 20;
  pointer-events: none;
}

.card-container .card .overlay {
  position: absolute;
  bottom: 15px;
  width: 80%;
  height: 50px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s;
}

.card-container .card .overlay:hover {
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  box-shadow: none;
  opacity: 1;
  border-radius: 0;
}

.card-container .card .overlay:before {
  content: "Saiba mais";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #5d564e;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 50px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0.5s;
}

.card-container .card .overlay:hover:before {
  display: none;
  transition-delay: 0s;
}

.card-container .card .content {
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: 0s;
  color: #fff;
}

.card-container .card .overlay:hover ~ .content {
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
  transition-delay: 0.5s;
}

.card-container .card .content h4 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
}

.card-container .card .content p {
  padding-top: 15px;
  font-size: 15px;
  font-weight: 700;
}

/* --------------------------
:: Information Area CSS Start
-------------------------- */

.information-section {
  padding: 100px 50px 0 50px;
  background: #f4efec;
}

.process-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 20px;
}

.process-container h2 {
  color: #5d554d;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px 0;
}

.process-container h3 {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 500;
}

.process-container p {
  font-size: 20px;
  text-align: justify;
  color: #5d524c;
  text-indent: 40px;
}

@media screen and (max-width: 768px) {
  .process-container h2,
  .process-container h3,
  .news h2,
  .agenda h2 {
    text-align: center;
  }
}

.news {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 20px;
}

.news h2 {
  color: #5d554d;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px 0;
}

.news-content {
  display: flex;
}

.news-content img {
  width: 30px;
}

.news-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 20px;
  margin-left: 10px;
  color: #5d524c;
  padding: 5px 0;
}

.news-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.agenda {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  padding: 0 20px;
}

.agenda h2 {
  color: #5d554d;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  padding: 20px 0;
}

.agenda-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0 0 0;
}

.date {
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#number {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9cca00;
  width: 70px;
  height: 60%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #fff;
}

#month {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #817f7f;
  width: 70px;
  height: 40%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 15px;
  font-weight: 900;
  color: #fff;
}

.text p {
  width: 100%;
  padding-left: 10px;
  color: #5d524c;
  font-size: 20px;
}

/* --------------------------
:: Strip Area CSS Start
-------------------------- */

.strip-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  height: 15vh;
}

.strip-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.strip-content .strip {
  width: 90%;
  height: 70px;
}

.strip-content p {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  width: 70%;
  text-align: center;
  position: absolute;
}

@media screen and (max-width: 768px) {
  .strip-content .strip {
    height: 150px;
  }
}

/* --------------------------
:: Footer Area CSS Start
-------------------------- */

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5d564e;
  padding: 30px 0;
}

.footer-content .container {
  padding: 20px 0;
}

.footer-content .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content .footer-logo img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.footer-content .address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .address .address-title {
  color: #ccc;
}

.footer-content .address .address-content {
  color: #ccc;
  text-align: center;
}

.footer-content .telephone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content .telephone .telephone-title {
  color: #ccc;
}

.footer-content .telephone .telephone-content {
  color: #ccc;
}

.footer-social .social {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-social .social .social-title {
  color: #ccc;
}

.footer-social .social .social-content img {
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer-content .address {
    width: 100%;
    text-align: center;
  }

  .footer-content .telephone {
    width: 100%;
    text-align: center;
  }
}

/* --------------------------
:: Button Top Area CSS Start
-------------------------- */

#button-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 40px;
  height: 40px;
  background: #f9800d;
  border-radius: 5px;
  border: none;
  display: none;
}

#button-top img {
  width: 35px;
}

/* • Menu - Cor dos botões
Home #F84828
Cursos #F9800D
Escola #FFBF00
Galeria #9CCA00
Missão #008AD1
Contato #740098

• Degradê do cabeçalho
#003770
#195591
#27639F

• 4 quadros
Amarelo
Fundo: #F0D100
Título: #D7AB00

Laranja
Fundo: #F9800D
Título: #D96D06

Azul
Fundo: #008AD1
Título: #1376B8

Roxo
Fundo: #892AA7
Título: #6C1587

• Verde geral
#9CBE28

• Rodapé
Cinza claro: #5D564E
Cinza escuro: #48423B

• Fontes
Título cinza escuro: #5D554D
Subtítulo preto: #000000
Texto cinza claro: #5D524C
Textos do rodapé: #CCCCCC
Linha que divide blocos: #CCCCCC

• Cor de fundo do site todo
#F4EFEC */
